/* navbar css  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.header_section_2{
    background: url(/assest/header_back_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 720px;
    height: 770px;
    position: relative;
   
}
.right_logo ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    column-gap: 20px;
    margin-bottom: 0px !important;
    

}
.right_logo ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}
.sign_btn {
    background: var(--btn-bg);
    padding: 5px 20px;
    border-radius: 3px;
    border: 1px solid transparent;
}
.anchor_link{
    color: #495560!important;
}
.menu_nav {
    display: none;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}
/* .header_main{
    position: fixed;
    z-index: 6;
    background: #233252;
} */
.pages_link ul li  a {
    color: var(--all-text-main);
    font-size: 18px;
    font-weight: 500;
}
.toggle_menu {
    color: var(--all-text-main)!important;
}
@media (max-width:991px) {
    .logo img {
        max-width: 100px;
    }
    .right_logo ul li a {
       
        white-space: nowrap;
    }
    .right_logo ul {
        column-gap: 10px;
        padding-left: 10px !important;
    }
    .right_logo ul li a {
        font-size: 12px;
    }
  
   
}
@media (max-width:767px) {
    nav {
        padding: 8px 0px;
    }
    .header_section_2 {  
        max-height: 420px;
        height: 420px;  
    }
    .nav_link {
        display: none;
    }
    .menu_nav {
        display: block;
    }
}